/**
 * Slider
 */
 .slider_main {
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    background: url(parts/L_setup_slider_base_normal.png) no-repeat center;
    width: 400px;
    height: 48px;
}

.slider_main.disable {
    color: rgb(102, 102, 102);
    background-image: url(parts/L_setup_slider_base_disable.png);
}

.slider_value {
    position: absolute;
    top: -17px;
    left: 0px;
    padding-left: 0px;
    width: 50px;
    height: 19px;
    text-align: center;
    font-size: large;
    z-index: 20;
    font-family: "Arial";
}

.slider_poscheck {
    position: absolute;
    top: 1px;
    left: 48px;
    width: 306px;
    height: 50px;
    cursor: default;
    z-index: 30;
}

.slider_down > * {
    display: table-cell;
    vertical-align: middle;
    padding-left: 19px;
    padding-top: 0px;
    cursor: default;
}

.slider_up > * {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0px;
    padding-left: 16px;
    cursor: default;
}
.slider_option > *, .slider_indicator > * {
    display: table-cell;
    vertical-align: middle;
    padding-left: 16px;
    cursor: default;
}
.slider_option.off {
    color: rgb(217, 217, 217);
    background-image: url(parts/L_setup_image-adjust_btn_auto_normal.png);
}

.slider_option.on {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_image-adjust_btn_auto_selected.png);
}

.slider_option {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 76px;
    height: 48px;
    background-image: url(parts/L_setup_image-adjust_btn_auto_normal.png);
    line-height: 48px;
    text-align: center;
    z-index: 20;
}
.slider_option>p{
    position: absolute;
    top: -18px;
    left: 2px;
}
.slider_option.disable {
    color: rgb(102, 102, 102);
    background-image: url(parts/L_setup_image-adjust_btn_auto_disable.png);
}

.slider_option.on_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_image-adjust_btn_auto_selected_onmouse.png);
}

.slider_option.off_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_image-adjust_btn_auto_normal.png);
}

.slider_down {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 48px;
    background-image: url(parts/L_setup_slider_btn_normal.png);
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    -webkit-user-select: none;
    z-index: 20;
}

.slider_down.off {
    color: rgb(217, 217, 217);
    background-image: url(parts/L_setup_slider_btn_normal.png);
}

.slider_down.on {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_btn_pressed.png);
}

.slider_down.disable {
    color: rgb(102, 102, 102);
    background-image: url(parts/L_setup_slider_btn_disable.png);
}

.slider_down.on_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_btn_Onmouse.png);
}

.slider_down.off_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_btn_onmouse.png);
}

.slider_up {
    position: absolute;
    top: 0px;
    left: 354px;
    width: 48px;
    height: 48px;
    background-image: url(parts/L_setup_slider_btn_normal.png);
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    z-index: 20;
}

.slider_up.off {
    color: rgb(217, 217, 217);
    background-image: url(parts/L_setup_slider_btn_normal.png);
}

.slider_up.on {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_btn_pressed.png);
}

.slider_up.disable {
    color: rgb(102, 102, 102);
    background-image: url(parts/L_setup_slider_btn_disable.png);
}

.slider_up.on_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_btn_Onmouse.png);
}

.slider_up.off_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_btn_onmouse.png);
}

.slider_indicator {
    position: absolute;
    top: 10px;
    background-image: url(parts/L_setup_slider_knob_normal.png);
    width: 35px;
    height: 48px;
    z-index: 20;
}

.slider_indicator.off {
    color: rgb(217, 217, 217);
    background-image: url(parts/L_setup_slider_knob_normal.png);
}

.slider_indicator.on {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_knob_pressed.png);
}

.slider_indicator.disable {
    color: rgb(102, 102, 102);
    background-image: url(parts/L_setup_slider_knob_disable.png);
}

.slider_indicator.on_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_knob_Onmouse.png);
}

.slider_indicator.off_hover {
    color: rgb(255, 255, 255);
    background-image: url(parts/L_setup_slider_knob_onmouse.png);
}

